.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store

applicationinsights-agent-*.jar
*.log

### Local Terraform working directory (contains downloaded providers and modules)
.terraform/

### Terraform CLI state files & crash logs
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
crash.log
crash.*.log
